@media only screen and (max-width: 900px) {
  body {
    background-color: none;
    overflow-y: hidden;
  }
  .div1 {
    width: 100%;
    height: 100vh;
    background-color: black;
    background-position: center;
    background-blend-mode: luminosity;
  }
  #Dark {
    background-color: white;
    float: right;
    width: 4vw;
  }
}
@media only screen and (min-width: 900px) {
  body {
    background-color: now;
    overflow-y: hidden;
  }
  .div1 {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: url("assets/abc..png");
    background-size: 37vw 97vh;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: luminosity;
  }
  .div1a {
    position: relative;
    top: 25vh;
    left: 5vw;
    background-color: none;
    border: 0px white solid;
    width: 40%;
    height: 40vh;
  }
  .spanA {
    font-family: "Karla", sans-serif;
    color: white;
    font-size: 2vw;
    font-weight: bolder;
  }
  .spanB {
    font-family: "Karla", sans-serif;
    color: rgba(225, 225, 225, 0.7);
    font-size: 1vw;
  }
  .spanC {
    font-family: "Karla", sans-serif;
    color: rgba(225, 225, 225, 0.7);
    font-size: 1vw;
  }
  .Dark {
    background-color: white;
    float: right;
    width: 10vw;
    height: 5vh;
    border-radius: 10px;
    margin-right: 10px;
  }
  .Or {
    position: absolute;
    left: 2%;
    border-radius: 0px;
    display: inline-block;
    background-color: black;
  }
  .Or .list {
    float: left;
    margin-right: 0px;
    font-family: Malgun Gothic;
    font-size: 20px;
    color: rgba(110, 110, 110, 0.5);
  }
  .Or .list:hover {
    float: left;
    margin-right: 0px;
    border-bottom: 1px white solid;
    font-family: Malgun Gothic;
    font-size: 20px;
  }
  .Or a {
    margin-left: 15px;
    color: white;
    text-decoration: none;
    font-family: Malgun Gothic;
  }
  .Or a:active {
    margin-left: 15px;
    color: white;
    text-decoration: none;
    font-family: Malgun Gothic;
  }
  .Or a:hover {
    margin-left: 15px;
    color: white;
    text-decoration: none;
    font-family: Malgun Gothic;
  }
  .sen {
    font-weight: bolder;
    color: white;
    text-decoration: none;
    -webkit-text-decoration-color: darkolivegreen;
            text-decoration-color: darkolivegreen;
    text-decoration-thickness: 3px;
  }
  body {
    background-color: black;
    overflow-y: hidden;
  }
  .div12 {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: Yu Gothic UI;
    background-image: url("assets/abc..png");
    background-size: 37vw 97vh;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: none;
    color: black;
  }
  .div1a2 {
    position: relative;
    top: 25vh;
    left: 5vw;
    background-color: none;
    border: 0px white solid;
    width: 40%;
    height: 40vh;
  }
  .spanA2 {
    font-family: "Karla", sans-serif;
    color: black;
    font-size: 2vw;
    font-weight: bolder;
  }
  .spanB2 {
    font-family: "Karla", sans-serif;
    color: black;
    font-size: 1vw;
  }
  .spanC2 {
    font-family: "Karla", sans-serif;
    color: black;
    font-size: 1vw;
  }
  .Dark2 {
    background-color: black;
    color: White;
    float: right;
    width: 10vw;
    height: 5vh;
    border-radius: 10px;
    margin-right: 10px;
  }
  .sen2 {
    font-weight: bolder;
    color: black;
    text-decoration: none;
    -webkit-text-decoration-color: darkolivegreen;
            text-decoration-color: darkolivegreen;
    text-decoration-thickness: 3px;
  }
  .Or2 {
    position: absolute;
    left: 2%;
    border-radius: 0px;
    display: inline-block;
    background-color: black;
  }
  .Or2 .list {
    float: left;
    margin-right: 0px;
    font-family: Malgun Gothic;
    font-size: 20px;
    color: rgba(110, 110, 110, 0.5);
  }
  .Or2 .list2:hover {
    float: left;
    margin-right: 0px;
    border-bottom: 1px white solid;
    font-family: Malgun Gothic;
    font-size: 20px;
  }
  .Or2 a {
    margin-left: 15px;
    color: black;
    text-decoration: none;
    font-family: Malgun Gothic;
  }
  .Or2 a:active {
    margin-left: 15px;
    color: black;
    text-decoration: none;
    font-family: Malgun Gothic;
  }
  .Or2 a:hover {
    margin-left: 15px;
    color: black;
    text-decoration: none;
    font-family: Malgun Gothic;
  }
}/*# sourceMappingURL=first.css.map */