@media only screen and (max-width: 900px){
    #turn,#joe,#sendie,#anime,#peace, #nomarlly{visibility: hidden;}

}



@media only screen and (min-width:900px){



    
#normally{

    display: inline-block;
    position: absolute;
    left:77vw;
    width: 14vw;
    border:0.5px white solid;
    height: 30vh;
    margin-top:45vh;
    border-radius:10px;
    backdrop-filter: blur(50%);
    color:white;font-family:'Rajdhani', sans-serif;text-align: center;
    background-color:none;
    box-shadow:
      0 1px 1px hsla(0, 33%, 99%, 0.075),
      0 2px 2px hsl(0deg 33% 99% / 0.075),
      0 2px 2px hsl(0deg 33% 99% / 0.075),
      0 2px 2px hsl(0deg 33% 99% / 0.075),
      0 2px 2px hsl(0deg 33% 99% / 0.075)
   

}
    #turn{
height:2vh;
width:5vw;
background-color:white;
color:black;
    }
    #joe{width:75%;
      height:50%;
      margin-top:0.5vh;margin-left:0vw;
      background-color:rgba(225,225,255,0);
border:0.5px white solid;
border-radius:5px;
color:white;


    }
#sendie{
width:65%;
height:3.5vh;
border:0px white solid;
border-radius:3px;
box-shadow:1px 1px 1px black;
margin-left:0%;
background-color:rgba(225,225,225,0.5);
color:white;
font-family: 'Rajdhani', sans-serif;
font-weight:bolder

}
#anime{background-color:white;
  animation: animatiing 100s infinite;color:black;
  display: inline-block;
    position: relative;width:max-content;height: min-content;
    
    background-color:white; top:53vh;
    overflow-y: hidden;
    
    overflow-x: hidden;font-family: 'Rajdhani', sans-serif;
    font-weight:bolder;
    font-size:20px;text-align: left;margin-left:0px;
}@keyframes animatiing{
  from{margin-left:0px;}
  to{margin-left:-1000px;}
}

#peace{width:50px;height:30px;font-size:'Rajdhani';
    margin-left:0px;border-radius:5px;border:0px black solid;}

}